// message-box responsive
.el-message-box {
    width: 98% !important;
    max-width: 420px;
}

.el-message {
    min-width: 320px !important;
    max-width: 420px;
}

// common
.controls {
    margin-bottom: 20px;
}

// reservation table
.reservation-table {

    &.el-table {
        .cell {
            padding: 0 2px;
            text-align: center;
            cursor: pointer;

        }
        .el-table_1_column_1 {
            .cell {
                text-align: left;
                padding: 0 10px;
                cursor: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

}

// clearfix class
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

//modal-form responsive
.modal-form {
    width: 60%;
    margin-top: 15vh !important;
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0;
        height: 100%;
        overflow: auto;

    }
}

// Form-items responsive
@media screen and (max-width: 767px) {
    .el-form-item__label {
        float: none !important;
        text-align: left !important;
        width: unset !important;
    }

    .el-form-item__content {
        margin-left: 0 !important;
    }
}

// Calendar fix
.vfc-styles-conditional-class {
    max-width: 380px;
    min-width: 251px;
    .vfc-main-container {
        max-height: 344px !important;
    }
}
